# Ignore all
*

# Unignore all files with extensions
!*.*
!LICENSE

# Unignore all dirs
!*/
!/writing-a-c-compiler-tests

/cprogs
.DS_Store
/target
/xtask/target
/xtask/Cargo.lock

*.c
*.i
*.txt
*.log
*.o
*.s

# Editor backups/swap files
\#*#
*.swp
*.swo
